@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 18px;
}
body {
  background-color: #191a1f;
  font-family: "Poppins", sans-serif;
  color: #9696a3;
  line-height: 32px;
}
.App {
  display: flex;
  height: 100vh;
  position: relative;
}

/* components */

.active {
  color: #fff;
}
.white {
  color: #fff;
}
footer {
  text-align: center;
}
footer a {
  text-decoration: none;
  color: white;
}

/* Primary nav*/
.nav {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 100%;
  max-height: 40px;
  background-color: #191a1f;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.nav ul {
  list-style-type: none;
  display: flex;
  gap: 1rem;
}
.nav ul li {
  padding: 10 20px;
}
.nav p {
  display: none;
}
.nav ul .current-page {
  border-bottom: 5px solid #f22c46;
}
.brand {
  display: none;
}
/* Nav styling for tablets and PCs */
@media screen and (min-width: 900px) {
  .nav {
    width: 100%;
    max-width: 233px;
    border-right: #676772 0.3px solid;
    height: 100vh;
    max-height: 100vh;
    display: block;
    position: relative;
  }
  .nav p {
    display: inline;
  }
  .nav > div {
    padding-bottom: 20px;
    width: 233px;
    display: block;
  }
  .brand {
    width: 123px;
    padding-top: 1rem;
    padding-left: 50px;
    display: block;
  }
  .nav ul {
    list-style-type: none;
    display: block;
  }
  .menu > p,
  .social > p,
  .general > p {
    padding-left: 50px;
    font-size: 13px;
  }
  .nav ul li {
    width: 100%;
  }
  .nav ul li a {
    padding-left: 50px;
    text-decoration: none;
    color: #9696a3;
  }
  .nav ul li a > * {
    display: inline;
    vertical-align: middle;
    font-size: 15px;
  }
  .nav ul li img {
    margin-right: 10px;
  }
  .nav ul .current-page {
    border-left: 5px solid #f22c46;
    border-bottom: 0;
    color: #fff;
    padding-left: 45px;
  }
}

/* secondary nav */
.main > nav {
  padding-bottom: 30px;
}
.main > nav > ul {
  list-style-type: none;
  display: inline-flex;
}
.main nav ul li {
  padding-right: 20px;
}
.main nav ul li a {
  text-decoration: none;
  font-weight: 400;
  line-height: 27px;
  color: #9696a3;
}
.main nav img {
  display: inline;
  width: 25vw;
  padding-right: 20px;
}
@media screen and (min-width: 900px) {
  .main nav img {
    display: none;
  }
}

/* main display */

.main {
  width: 100%;
  margin: 0 auto;
  height: 100vh;
  padding: 1rem 1rem 0 1rem;
  overflow-x: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.main::-webkit-scrollbar {
  display: none;
}

/* header card */

header {
  padding-bottom: 50px;
  position: relative;
}
.scroll-container {
  overflow: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-behavior: smooth;
}
.scroll-container::-webkit-scrollbar {
  display: none;
}
.header-card {
  display: inline-block;
  min-height: 200px;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 30px;
  padding: 1rem 30px;
}
@media screen and (min-width: 900px) {
  .header-card {
    height: 300px;
  }
}
.details {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.friends-watching {
  display: none;
  gap: 1rem;
}
@media screen and (min-width: 488px) {
  .friends-watching {
    display: flex;
    gap: 1rem;
  }
}
.friends-watching img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.friends-watching img ~ img {
  margin-left: -10px;
}
.title-and-duration {
  display: flex;
  flex-direction: column;
}
header h1 {
  font-weight: 500;
  text-transform: capitalize;
  font-size: 36px;
  line-height: 54px;
}
.title-and-duration > div {
  display: flex;
  gap: 1rem;
}
.watch-buttons {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.play {
  background: #f22c46;
  border-radius: 10px;
  font-size: 15px;
  line-height: 23px;
  padding: 9px 40px;
  border: 1px;
}
.add {
  border: 1px solid;
  border-image-source: linear-gradient(
    123.92deg,
    rgba(255, 255, 255, 0.4) 0%,
    rgba(255, 255, 255, 0.1) 100%
  );
  padding: 8px 13px;
  border-radius: 10px;
  background: linear-gradient(
    123.92deg,
    rgba(255, 255, 255, 0.4) 0%,
    rgba(255, 255, 255, 0.1) 100%
  );
  box-shadow: 0px 4px 40px -1px rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(40px);
}
.add img {
  width: 24px;
  height: 24px;
}
.left-arrow,
.right-arrow {
  position: absolute;
  color: #fff;
  width: 50px;
  height: 50px;
  background: linear-gradient(
    143.13deg,
    rgba(255, 255, 255, 0.4) 4.71%,
    rgba(255, 255, 255, 0.1) 94%
  );
  box-shadow: 0px 4px 40px -1px rgba(0, 0, 0, 0.05);
  border: 1px solid;
  border-image-source: linear-gradient(
    135.33deg,
    rgba(255, 255, 255, 0.4) 13.5%,
    rgba(255, 255, 255, 0.1) 100%
  );
  border-radius: 50%;
  transition: ease 0.3s;
}
.left-arrow {
  top: calc(50% - 50px);
}
.right-arrow {
  top: calc(50% - 50px);
  right: 0;
  backdrop-filter: blur(20px);
}
.left-arrow:hover,
.right-arrow:hover {
  backdrop-filter: blur(40px);
}

/* category cards */
.category {
  margin-bottom: 40px;
}
.category-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
}
.category-header p {
  color: #fff;
}
.category-header button {
  color: #9696a3;
  padding: 0.5rem;
  border-radius: 1rem;
  border: 1px solid #191a1f;
  background-color: #191a1f;
  transition: all 0.3s ease-in-out;
}
.category-header button:hover {
  background-color: #000;
  color: #fff;
}
.cards {
  display: flex;
  gap: 74px;
  overflow-x: scroll;
  width: 100%;
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
}
.cards::-webkit-scrollbar {
  display: none;
}
.cards a {
  border-radius: 20px;
  transition: all ease-in-out 0.3s;
  padding-bottom: 0.5rem;
}
.cards a:hover {
  background-color: #000;
}
.card img {
  width: 174px;
  height: 217px;
  border-radius: 20px;
  object-fit: cover;
}
.category a {
  text-decoration: none;
}
.category .white {
  padding: 0 5px;
}
.ratings {
  display: flex;
  font-size: 15px;
  color: #e6ab1b;
  align-items: center;
  line-height: 22px;
  gap: 5px;
  padding: 0 5px;
}
.ratings img {
  height: 15.85px;
  width: 16.67px;
}

/* CONTINUE WATCHING CARDS */
.continue-watching-cards {
  display: flex;
  gap: 53px;
  width: 100%;
  overflow-x: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.continue-watching-cards::-webkit-scrollbar {
  display: none;
}
.continue-watching-cards a {
  text-decoration: none;
}
.continue-watching-cards figure > img {
  width: 271px;
  aspect-ratio: 2/1;
  margin-bottom: -1.2rem;
}
progress {
  background-color: #9696a3;
  width: 100%;
  height: 10px;
  vertical-align: baseline;
}
.continue-watching {
  padding-bottom: 50px;
}
.continue-watching > p {
  padding-bottom: 30px;
}

/* FRIENDS TAB */
.friends {
  display: none;
}
@media screen and (min-width: 900px) {
  .friends {
    border-left: #676772 0.3px solid;
    width: 100px;
    max-width: 139px;
    padding-top: 2rem;
    display: block;
  }
  .add-friend {
    background: #f22c46;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .add-friend img {
    height: 30px;
    width: 30px;
  }
  .friends figure {
    width: 50px;
    margin: 0 auto;
    padding: 10px 0;
  }
  .friends figure img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
}

/* Watch screen */
video {
  width: 100%;
}

/* SPINNER */
.spinner-container {
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
}
.spinner {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 3px solid #9696a3;
  border-top-color: #000;
  animation: spinner 0.7s linear infinite;
}
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

/* POP UP MODAL */
dialog {
  width: 100%;
  max-width: 80vw;
  height: 100%;
  max-height: 70vh;
  margin: auto;
  border: 1px solid #191a1f;
  background-color: #191a1f;
  position: relative;
}
dialog::backdrop {
  background: #676772;
  opacity: 0.2;
}
dialog > header {
  width: calc(80vw - 1rem);
  height: 2rem;
  position: fixed;
}
dialog button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #191a1f;
  background-color: #9696a3;
  display: block;
  margin: 0 0 0 auto;
  transition: all 0.3s ease-in-out;
}
dialog button:hover {
  color: #fff;
  background-color: #000;
}
.popup-item {
  display: flex;
  margin-bottom: 1rem;
  padding: 1rem;
  gap: 1rem;
  transition: background-color ease-in-out 0.3s;
}
.popup-item:hover {
  background-color: #000;
}
.popup-item h4 {
  font-weight: 500;
}
.popup-item p {
  padding-left: 0.3rem;
  font-size: 16px;
  color: #fff;
}
dialog img {
  width: 121px;
  height: 151px;
  border-radius: 20px;
  object-fit: cover;
}
